body{
     background: #ffeaa7; 
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 40px;
} 
/* alla sidors style */ 

/* ***************  style to index ****************/
ul,li{
    list-style: none;
      
}
.link{
    padding-left: 720px;
}
hr{
    width: 50%;
}
.mydiv{
    padding-right: 650px;
}
.container{
    margin-left: -100px;
}

/* *************** style to update ***************** */

.inputs{
    width: 50%;
    height: 35px;
}
#tit{
    height: 150px;   
}
.tittle{
    padding-right: 730px;
}
#ct{
    padding-right: 710px;
}
#at{
    padding-right: 715px;
}
button{
    width: 50%;
    height: 35px;
    font: black;
    font-weight: bold;
}
.linkup{
    padding-left: 700px;
}


/* **************** style to create ************************** */
#container{
    border: 1px solid black;
    width: 50%;
    margin: 150px auto;
    margin-top: 10px;
}
table{
    background: aliceblue;
    width: 100%;
    height: auto;
    border-collapse: collapse;   
}
table,td,th{
    cursor: pointer;
    border: 1px solid black;
    padding: 10px;
}
thead{
    background-color: #55efc4;
    border-bottom: 3px solid black;
}
tr:nth-child(even){
    background-color: #ddd;
}
tr:hover td{
    background-color: #369681;
    color: white;

}
#hbp{
    margin-right: 590px;
}
.linkbp{
    margin-left: 700px;      
}
.linkcp{
    margin-left: 650px;       
}